In [1]:
import pandas as pd
df = pd.read_excel('dataAcquisition/Amazon/AmazonSaleReport.xlsx')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'dataAcquisition/Amazon/AmazonSaleReport.xlsx'

In [ ]:
print(df.columns)

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [ ]:
ship_state_counts = df['ship-state'].value_counts()
print(ship_state_counts)

ship-state
MAHARASHTRA               22260
KARNATAKA                 17326
TAMIL NADU                11483
TELANGANA                 11330
UTTAR PRADESH             10638
                          ...
Mizoram                       1
rajsthan                      1
Punjab/Mohali/Zirakpur        1
Rajsthan                      1
orissa                        1
Name: count, Length: 69, dtype: int64

In [ ]:
ship_state_counts = df['ship-country'].value_counts()
print(ship_state_counts)

ship-country
IN    128942
Name: count, dtype: int64

In [ ]:
# Make dummy variables for status
df_dummies = pd.get_dummies(df, columns=['Status'])

In [ ]:
df_dummies.head()

,Order ID,Date,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,...,Status_Shipped,Status_Shipped - Damaged,Status_Shipped - Delivered to Buyer,Status_Shipped - Lost in Transit,Status_Shipped - Out for Delivery,Status_Shipped - Picked Up,Status_Shipped - Rejected by Buyer,Status_Shipped - Returned to Seller,Status_Shipped - Returning to Seller,Status_Shipping
0,405-8078784-5731545,2022-04-30,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,...,False,False,False,False,False,False,False,False,False,False
1,171-9198151-1101146,2022-04-30,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,...,False,False,True,False,False,False,False,False,False,False
2,404-0687676-7273146,2022-04-30,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,...,True,False,False,False,False,False,False,False,False,False
3,403-9615377-8133951,2022-04-30,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,...,False,False,False,False,False,False,False,False,False,False
4,407-1069790-7240320,2022-04-30,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,...,True,False,False,False,False,False,False,False,False,False

In [ ]:
df_dummies.columns

Index(['Order ID', 'Date', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'Status_Cancelled',
       'Status_Pending', 'Status_Pending - Waiting for Pick Up',
       'Status_Shipped', 'Status_Shipped - Damaged',
       'Status_Shipped - Delivered to Buyer',
       'Status_Shipped - Lost in Transit', 'Status_Shipped - Out for Delivery',
       'Status_Shipped - Picked Up', 'Status_Shipped - Rejected by Buyer',
       'Status_Shipped - Returned to Seller',
       'Status_Shipped - Returning to Seller', 'Status_Shipping'],
      dtype='object')

In [ ]:
df_dummies.drop(['Order ID', 'SKU', 'ASIN', 'Unnamed: 22'], axis=1, inplace=True)

In [ ]:
df_dummies.columns

Index(['Date', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style',
       'Category', 'Size', 'Courier Status', 'Qty', 'currency', 'Amount',
       'ship-city', 'ship-state', 'ship-postal-code', 'ship-country',
       'promotion-ids', 'B2B', 'fulfilled-by', 'Status_Cancelled',
       'Status_Pending', 'Status_Pending - Waiting for Pick Up',
       'Status_Shipped', 'Status_Shipped - Damaged',
       'Status_Shipped - Delivered to Buyer',
       'Status_Shipped - Lost in Transit', 'Status_Shipped - Out for Delivery',
       'Status_Shipped - Picked Up', 'Status_Shipped - Rejected by Buyer',
       'Status_Shipped - Returned to Seller',
       'Status_Shipped - Returning to Seller', 'Status_Shipping'],
      dtype='object')

In [ ]:
df_dummies.drop(['Status_Cancelled',
       'Status_Pending', 'Status_Pending - Waiting for Pick Up',
       'Status_Shipped', 'Status_Shipped - Damaged',
       'Status_Shipped - Delivered to Buyer',
       'Status_Shipped - Lost in Transit', 'Status_Shipped - Out for Delivery',
       'Status_Shipped - Picked Up', 'Status_Shipped - Rejected by Buyer',
       'Status_Shipped - Returned to Seller',
       'Status_Shipped - Returning to Seller', 'Status_Shipping'], axis=1, inplace=True)

In [ ]:
df_dummies.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Style,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,2022-04-30,Merchant,Amazon.in,Standard,SET389,Set,S,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,2022-04-30,Merchant,Amazon.in,Standard,JNE3781,kurta,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2022-04-30,Amazon,Amazon.in,Expedited,JNE3371,kurta,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,2022-04-30,Merchant,Amazon.in,Standard,J0341,Western Dress,L,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,2022-04-30,Amazon,Amazon.in,Expedited,JNE3671,Top,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

In [ ]:
sales_channels = df_dummies['Sales Channel '].unique()
print(sales_channels)

['Amazon.in' 'Non-Amazon']

In [ ]:
# Make dummy variables for sales channel
df_dummies = pd.get_dummies(df_dummies, columns=['Sales Channel '])